{% extends "blogpage/base.html" %}
{% load static %}

{% block content %}
        <body>
		<h1>About Me</h1>
		<img src="{% static 'assets/profile_image2.jpg' %}">
		<br>
		<br>
	    Hello! I’m Pınar, and I’m an engineer with a background in design and development.
		I'm also a Pilates & Swim Instructor. I enjoy doing sports and have been tried various sports since my childhood.
		However the most enthusiasm I have for is swimming. It is a therapy for me. I would like to train myself to
		compete in free diving in near future. When I'm not teaching, I enjoy working on my goals and building new skills.
		I’m excited about helping others find their way into the field of design, technology or sports.
		In my free time I’m an outdoors enthusiast, freelance mermaid and a ice cream connoisseur. :)
		<br>
		<br>
		<b>Skills:</b>
		<ul>
			<li>Creativity</li>
			<li>Analytical thinking</li>
			<li>Problem-solving skills</li>
			<li>Teamwork and collaboration</li>
			<li>Computer skills</li>
			<li>Quality & Control</li>
		</ul>
		<br>
	<b>Education:</b>
		<ul>
			<li>M.Sc. in IE at Cankaya University</li>
			<li>B.Sc. in IE at Cankaya University</li>
		</ul>
		<br>
	<b>Hobbies:</b>
		<ul>
			<li>Swimming</li>
			<li>Traveling</li>
			<li>Reading</li>
			<li>Painting</li>
			<li>Coding</li>
		</ul>
		<!-- Social Media Links -->
		<a href="https://www.facebook.com/joycenightmare">Facebook</a>
		<a href="https://www.instagram.com/mermaid.pinar/">Instagram</a>
	</body>
 
{% endblock content %}
